<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videojuegos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Mis Videojuegos</h1>
    
    <!-- Botón para agregar videojuego -->
    <a href="/agregar" class="btn">Agregar Videojuego</a>

    <!-- Ficha de videojuego de prueba -->
    <div class="game">
        <div class="options">
            <button class="edit-btn">Editar</button>
            <button class="delete-btn">Eliminar</button>
        </div>
        <h2>Nombre del Juego</h2>
        <img src="imagen.jpg" alt="Imagen del Juego">
        <p>Descripción del Juego</p>
        <a href="" class="btn-download">Descargar</a>
    </div>

</body>
</html>
