body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.game {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

.game img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.options button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.options button:hover {
    background-color: #bd2130;
}

.btn-download {
    display: inline-block;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

.btn-download:hover {
    background-color: #218838;
}


/* Estilos para los inputs de tipo file */
.file-input {
    position: relative;
    margin-bottom: 10px;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bd2130;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}